
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-gap: 30px;
}

.card {
    padding: 1rem;
    display: grid;
    background-color:var(--primary);
    border-radius: .5em;
    align-content: space-evenly;
    
}

.card .avatar{
    padding: 22px;
    margin-right: 10px;
    background-color: var(--secondary);
    border-radius: 100%;
}
.text > div {
    display: flex;
    justify-content: space-between;

}
  .text > div> button {
    width: 46%;
    }

.mb{
    margin-bottom: 10px;
}


  

.card > header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.card > header > section{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.skills{
    /* display: flex;
    flex-wrap: wrap; */
}
.skills > ul > li{
    list-style: none;
}
.skills > ul{
     display: flex;
    flex-wrap: wrap;
}

.button-black{
    background-color: var(--secondary);
}